attrs==15.2.0
beautifulsoup4==4.4.1
certifi==2018.1.18
chardet==3.0.4
configparser==3.5.0
cryptography==1.2.3
defer==1.0.6
enum34==1.1.2
html5lib==0.999
idna==2.6
ipaddress==1.0.16
lxml==3.5.0
PAM==0.4.2
Parsley==1.2
psutil==3.4.2
pyasn1==0.1.9
pyasn1-modules==0.0.7
pygobject==3.20.0
pyliblzma==0.5.3
pyOpenSSL==0.15.1
pyserial==3.0.1
pysqlite==2.7.0
pyTelegramBotAPI==3.6.2
python-apt===1.1.0.b1-elementary2-r1-ubuntu16.04.1
python-debian==0.1.27
pyxdg==0.25
service-identity==16.0.0
six==1.10.0
torbrowser-launcher==0.2.4
Twisted==16.0.0
txsocksx==0.0.0
unity-lens-photos==1.0
urllib3==1.22
vboxapi==1.0
virtualenv==15.2.0
vk==2.0.2
zope.interface==4.1.3
